In [1]:
print("This is my firdt line of code in python")

This is my firdt line of code in python

-  Python used BEDMAS rule for arithmatic operation

In [2]:
a = 6
b = 7
print(a + b)  

print(a - b) 
print(a * b) 
print(a / b)
print(a // b)
print(a % b) 
print(a ** b)

13
-1
42
0.8571428571428571
0
6
279936

-  Logical Operators

In [3]:
#Logical
print(3 < 4)
print(True and False) 
print(True or False)
print(a!=b) 
print(True and not False)

True
False
True
True
True

-  String operations

In [6]:
small = "i am upper case"
print(small.upper())

Large = "I AM LOWER CASE"
print(small.lower())

I AM UPPER CASE
i am upper case

-  Remove the trailing space (Remove the space from the end of the string)
    -  Use `StringName.rstrip()` functon for this

In [10]:
Sentence = "There is space at the end     "
print(Sentence)
print(Sentence.rstrip())

There is space at the end
There is space at the end

-  Remove the leading space (Remove the space from start of the string)
    -  Use `StringName.lstrip()` function

In [11]:
Sentence = "    Space at the start"
print(Sentence)
print(Sentence.lstrip())

    Space at the start
Space at the start

-  Remove Spaces from both ends of the string
    -  Use `StringName.strip()` function

In [13]:
Space = "   Trim whitespace    "
print(Space)
print(Space.strip())

   Trim whitespace
Trim whitespace

-   Strip the string:
    -  For removing any character from strat of the string use `lstrip` command
    -  For removing any character from end of the string use `rstrip` command

In [11]:
Test_String = "****This is string for operate####"
print(Test_String.lstrip('*').rstrip('#'))

This is string for operate

-  Slicing of the string using start and end inex
    - In following example start index is not specified so it take from the begining of the string and end index is given 9

In [13]:
batch = "5 oranges 3 monkeys n"
fruits = batch[ :9]
print(fruits)

5 oranges

-  for slicing by index we can give the index from the last
    -  for last character of the string we give -1. and decrement like -2, -3 and so on.

In [14]:
batch = "5 oranges 3 monkeys n"
animals = batch[10:-2]
print(animals)

3 monkeys

-  Print charadter by the alternate indexes as given

In [16]:
nums = '123456789'
even_nums = nums[1::2]
print("Even numbers: ")
print(even_nums)
print("\n")
print("Odd numbers: ")
print(nums[0::2])

Even numbers:
2468


Odd numbers:
13579

-  Concat and update the string
    -  Folowing example give intro to how to concat the string

In [18]:
Name = "Sagar"
Last = "Kamble"
print(Name +' '+Last)

Sagar Kamble

In [22]:
age = 25
print(Name+' is '+str(age)+' years old')

Sagar is 25 years old

In [23]:
A = "Data"
B = "Analysis"
C = "Pandas"

print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Pandas